<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">

  <header>
    <div class="row">
        <div class="col">
          <h1>Email Development Inbox</h1>
        </div>
      </div> <!-- .row -->
  </header>

  <div class="row">
    <div class="col">

      <nav>Vertical Navigation Links</nav>

      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div> <!-- .row -->

  <footer>
    <div class="row">
      <div class="col">
        <p>&copy; 2018 Jade Thomas</p>
      </div>
    </div>
  </footer>

</div> <!-- .container -->
